<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/javademos/TestNG_Kursu/src/Mentoring/xmlFile"><classes><class name="xmlFile.ClassA"><methods><include name="test1a"/><include name="test2a"/><include name="test3a"/><include name="test4a"/></methods></class><class name="xmlFile.ClassB"><methods><include name="test1b"/><include name="test2b"/><include name="test3b"/><include name="test4b"/></methods></class><class name="xmlFile.ClassC"><methods><include name="test1c"/><include name="test2c"/><include name="test3c"/><include name="test4c"/></methods></class></classes></test></suite>